.button-base {
    font-family: $font-primary;
    padding: 16px 32px;
    border-radius: 16px;
    text-transform: unset;
    transition: all 0.2s ease;
}

.button-primary {
    background: var(--button-primary-bg);
    box-shadow: var(--shadow-default);

    p, span {
        color: $default-white;
    }

    &:hover {
        background: var(--button-primary-hover-bg);
    }

    &:disabled {
        // background: $default-gray;
        opacity: 0.5;
        cursor: not-allowed !important;
        pointer-events: unset;
    }
}

.button-secondary {
    background: var(--button-secondary-bg);
    box-shadow: var(--shadow-soft);

    p, span {
        color: var(--text-main);
    }

    &:hover {
        background: var(--button-secondary-hover-bg);
    }
}

.button-theme {
    position: absolute;
    right: 0;
}

.button-icon {
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 8px;

    svg {
        width: 16px;
        color: $default-gray;
    }

    &:hover {
        background: var(--button-secondary-hover-bg);
    }
}

@include breakpoint(mobile) {
    .button-base {
        padding: 16px 24px;
    }

	.button-theme {
        position: relative;
    }
}
