.input-base {
    font-family: $font-primary;
    height: 50px;
    border-radius: 8px;
    border: 1px solid var(--textfield-border);
    color: var(--text-main);
    transition: all 0.2s ease;

    &.with-selector {
        border-right: 0;
        border-radius: 8px 0 0 8px;
    }

    input {
        padding: 0 16px;
    }

    input::placeholder {
        color: var(--textfield-placeholder);
    }

    &.Mui-focused {
        border: 1px solid $default-blue;
    }
}

.input-adornment {
    min-width: 90px;
    height: 50px;
    border-radius: 0 8px 8px 0;
    background: var(--textfield-adornment-bg);
}

.select-base {
    font-family: $font-primary;
    color: var(--text-main);

    svg path {
        fill: var(--text-main);
    }
    
    .MuiOutlinedInput-notchedOutline {
        border: 1px solid var(--textfield-border) !important;
    }
}
